/***** Defult Theme *****/

.option-box .animated-gear,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
#scroll-up
{
    background-color: #0812a2;
}
.navbar-inverse .navbar-brand span,
.about h2 span,
.testimonials span,
.footer h3,
.footer .copyright span,
#scroll-up:hover,
.statistics .stats:hover,
.about-ceo .btn-primary:hover,
.about-features .col-sm-4:hover
{
    color: #0812a2;
}
.option-box .color-option,
.testimonials .carousel-indicators li.active,
#scroll-up:hover
{
    border: 3px solid #0812a2;
}
.dropdown-menu
{
    border-top: 3px solid #0812a2;
}

/***** Defult Theme *****/